@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

:root {
  --white: #ececec;
  --black: #1c1c1c;
  --ff-banner: "Vina Sans", sans-serif;
  --ff-title: "Dela Gothic One", sans-serif;
  --ff-text: "Montserrat", sans-serif;
}
html {
  overflow-x: hidden;
}
body {
  background-color: var(--white);
  color: var(--black);
  max-width: 100%;
}
main {
  min-height: 80vh;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
h1 {
  font-family: var(--ff-title);
}
p {
  font-family: var(--ff-text);
}
.bold {
  font-weight: bold;
}
.faqs {
  padding: 20px;
}
.ff-title {
  font-family: var(--ff-title);
}
.padd-20 {
  padding: 20px;
}
/************* banner **************************/

header {
  max-width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.banner-texto {
  display: flex;
  flex-direction: column;
  justify-content: end;

  width: 50%;
  height: 100%;
  padding-left: 50px;
}
.banner-texto h2 {
  text-transform: uppercase;
  font-family: var(--ff-banner);
  font-size: 3.8em;
  line-height: 0.8;
}
.banner-texto p {
  font-weight: bold;
  text-align: center;
  padding-right: 100px;
}
.banner-fotos-container {
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.banner-fotos-container img {
  object-fit: contain;
  height: 200px;
}

/*********************** main *******************************/
/*********************** HERO *******************************/
.hero {
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
.redes {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--white);
  width: 10%;
}
.redes li {
  list-style: none;
}

.facebook {
  position: fixed;
  top: 50%;
  color: rgb(43, 96, 254);
  font-size: 2em;
  padding-inline: 20px;
}
.instagram {
  position: fixed;
  top: 60%;
  color: rgb(242, 92, 177);
  font-size: 2em;
  padding-inline: 20px;
}
.whatsapp {
  position: fixed;
  top: 70%;
  color: rgb(43, 208, 95);
  font-size: 2em;
  padding-inline: 20px;
}
.container-hero {
  background-color: #fffafa;
  width: 85%;
}
/****************** banner OFERTAS ******************/
.hero-card {
  padding-block: 50px;
}
.ofertas-titulo {
  font: 33px var(--ff-title);
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
.linea {
  position: relative;
  z-index: 1;
}
.linea:before {
  border-top: 2px solid #000000;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.linea span {
  background: #fffafa;
  padding: 0 15px;
}

.ofertas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container {
  display: flex;
  cursor: pointer;
}
.imagen-ofertas {
  height: 500px;
  width: 353px;
  display: flex;
}
.img-ofertas-1 {
  background-image: url("../imagenes/ofertas1.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.ofertas-titulo-1 {
  background-color: #ececec;
  padding: 5px 0 5px 10px;
  height: fit-content;
  font-size: 3em;
}
.img-ofertas-2 {
  background-image: url("../imagenes/ofertas2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.ofertas-titulo-2 {
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px 5px 0;
  height: fit-content;
  font-size: 3em;
}
.ofertas-div-centro {
  height: 120px;
  font-weight: bolder;
  padding-inline: 3px;
}
.of-p-1 {
  color: var(--white);
}
.of-tit-25 {
  font-size: 3em;
  font-weight: bolder;
  margin-bottom: 0;
}
.ofertas-p {
  font-size: 1.5em;
}
.shop {
  background-color: var(--black);
  color: var(--white);
}
.now {
  background-color: #ececec;
}
.banner-novedades {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
}
.novedades {
  background-color: #1c1c1c;
  color: #ececec;
  padding: 20px;
  font-size: 1.5em;
}

/****************** SECCION TIENDA ******************/
.tienda-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.foto-category {
  width: 20%;
  height: 500px;
  cursor: pointer;
}
.cat-texto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.cat-texto:hover {
  opacity: 1;
}
.foto-category:hover {
  filter: grayscale(1);
}
.foto-category p {
  color: #fffafa;
  background-color: #1c1c1c;
  opacity: 1;
  display: inline;
}
.cat-mujeres {
  background-image: url("../imagenes/category-mujer.jfif");
  background-size: cover;
  background-position: center;
}
.cat-hombres {
  background-image: url("../imagenes/category-hombres.png");
  background-size: cover;
  background-position: center;
}
.cat-ninios {
  background-image: url("../imagenes/category-niños.jfif");
  background-size: cover;
  background-position: center;
}
.cat-fragancias {
  background-image: url("../imagenes/category-fragancias.jfif");
  background-size: cover;
  background-position: center;
}
/***************** NOSOTRAS ************************/
.nosotras-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px;
}
.img-nosotras {
  background-image: url("https://res.cloudinary.com/dwl4yy7q6/image/upload/v1700788660/tentacioness/nosotras_xfuttl.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.nos-texto {
  padding-inline: 80px;
  padding-block: 50px;
}
/****************** FOOTER ***********************/
footer {
  background-color: var(--black);
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.footer-lado-vacio {
  width: 50%;
}
.footer-logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes-movil {
  display: none;
}
.footer-info-container {
  width: 50%;
  padding: 20px;
  color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-left: 2px solid white;
  margin-block: 20px;
}
.info-dir {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacto p {
  margin-bottom: 0;
}
.info-icons {
  display: flex;
  flex-direction: column;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 1.2em;
}
.pago {
  padding-block: 20px;
}
.faq {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
/*****************************************************/
/*************************************************/
/****************** catálogos **********************/

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2em;
  padding: 20px;
}
.producto-detalles {
  width: 345px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.producto-imagen {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  padding: 5px;
}
.producto-info {
  padding: 10px;
}
.titulo-principal {
  padding: 20px;
}
/*************************************************/
/****************** contacto **********************/

.contacto-container {
  display: flex;
  flex-direction: row;
}
.card-info-contacto {
  width: 50%;
  padding: 25px 70px;
}
.card-info-contacto h2 {
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: 30px;
  font-family: var(--ff-title);
}
.img-cont-container {
  width: 50%;
}
.img-contacto {
  border-radius: 52px;
  padding: 30px;
}
/****************** contacto **********************/

.card-info-politicas {
  width: 90%;
  padding: 25px 70px;
}
.card-info-politicas h2 {
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: 30px;
  font-family: var(--ff-title);
}
/****************** seccion ofertas **********************/
.tit1 {
  font-size: 3em;
  text-align: center;
}
.tit2 {
  font-size: 4em;
}

.whatsapp-boton {
  background-color: #64d448;
  color: white;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 5px;
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**************** novedades ***********************/

/*****************************************************/
/*************************************************/
/*****************************************************/
/*************************************************/
/********************** MEDIA QUERIES ****************************/
@media screen and (max-width: 600px) {
  /************* banner **************************/
  .navbar {
    background-color: var(--white);
  }
  .navbar-brand {
    font-family: var(--ff-title);
  }
  .logo-celus {
    width: 50%;
  }
  .nav-link {
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    margin: auto;
  }
  .nav-mujeres {
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
  }
  .navpills {
    padding: 150px;
  }
  .bottom-line {
    border-bottom: 1px solid var(--black);
  }
  .navbar-toggler {
    margin-right: 10px;
  }
  header {
    display: none;
  }

  /*********************** main *******************************/
  /*********************** HERO *******************************/
  .hero {
    height: auto;
    display: flex;
  }
  .redes {
    display: none;
  }

  .container-hero {
    background-color: #fffafa;
    width: 100%;
  }
  .hero-card {
    padding-block: 20px;
  }
  /********* ofertas ****************/
  .ofertas-titulo {
    font-size: 1.2em;
    padding-block: 5px;
    margin-top: 0;
  }
  /*************** bannner ofertas ************************/
  .linea:before {
    border: none;
  }
  .imagen-ofertas {
    height: 250px;
    width: 150px;
    display: flex;
  }
  .img-ofertas-1 {
    background-image: url("../imagenes/ofertas1.png");
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .ofertas-titulo-1 {
    background-color: var(--white);
    padding: 5px 0 5px 10px;
    height: fit-content;
  }
  .img-ofertas-2 {
    background-image: url("../imagenes/ofertas2.png");
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .ofertas-titulo-2 {
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px 5px 0;
    height: fit-content;
  }
  .ofertas-div-centro {
    height: 120px;
    font-weight: bolder;
    padding-inline: 3px;
  }
  .of-p-1 {
    color: var(--white);
  }
  .of-tit-25 {
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .ofertas-p {
    font-size: 1.5em;
  }
  /****************** SECCION TIENDA ******************/
  .tienda-card {
    padding-block: 50px;
  }
  .tienda-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }
  .foto-category {
    width: 35%;
    height: 200px;
  }
  .cat-texto {
    opacity: 1;
  }
  .foto-category p {
    font-size: 0.8em;
  }

  /***************** NOSOTRAS ************************/
  .nosotras-container {
    padding-block: 20px;
  }
  .img-nosotras {
    height: 200px;
    width: 200px;
  }
  .nos-texto {
    padding-inline: 20px;
    padding-block: 50px;
  }
  /****************** FOOTER ***********************/
  footer {
    flex-direction: column;
  }
  .footer-lado-vacio {
    width: 100%;
    color: var(--white);
  }
  .footer-logo {
    display: none;
  }
  .redes-movil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
  }
  .icons-show i {
    font-size: 2em;
  }
  .footer-info-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: none;
  }
  .info-dir {
    align-items: center;
  }
  .dir {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacto p {
    margin-bottom: 0;
  }
  .info-icons {
    display: flex;
    flex-direction: column;
  }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: 1.2em;
  }
  .icons-hidden {
    display: none;
  }
  .pago {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 10px 0 5px 0;
  }
  .faq {
    align-items: center;
    padding-top: 0;
  }
  /*************************************************/
  /****************** contacto **********************/

  .contacto-container {
    flex-direction: column;
  }
  .card-info-contacto {
    width: 100%;
    padding: 25px 30px;
  }

  .img-cont-container {
    width: 100%;
  }
  .img-contacto {
    border-radius: 32px;
    padding: 25px;
  }
  /******************** seccion ofertas *************************/
  /****************** seccion ofertas **********************/
  .tit1 {
    font-size: 2em;
  }
  .tit2 {
    font-size: 1.5em;
  }
}
