@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

:root {
  --white: #ececec;
  --black: #1c1c1c;
  --ff-title: "Dela Gothic One", sans-serif;
  --ff-text: "Montserrat", sans-serif;
}
html {
  overflow-x: hidden;
}
body {
  background-color: var(--white);
  color: var(--black);
  max-width: 100%;
}
main {
  min-height: 80vh;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
h1 {
  font-family: var(--ff-title);
}
p {
  font-family: var(--ff-text);
}

/************* banner **************************/

header {
  max-width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
}
.banner-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 70px 50px 0 50px;
}
.banner-texto h2 {
  text-transform: uppercase;
  font-family: var(--ff-title);
}
.banner-texto p {
  font-weight: bold;
}
.banner-fotos-container {
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.banner-fotos-container img {
  object-fit: contain;
  height: 250px;
}

/*********************** main *******************************/
/*********************** HERO *******************************/
.hero {
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
.redes {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--white);
  width: 10%;
}
.redes li {
  list-style: none;
}

.facebook {
  position: fixed;
  top: 50%;
  color: rgb(43, 96, 254);
  font-size: 2em;
  padding-inline: 20px;
}
.instagram {
  position: fixed;
  top: 60%;
  color: rgb(242, 92, 177);
  font-size: 2em;
  padding-inline: 20px;
}
.whatsapp {
  position: fixed;
  top: 70%;
  color: rgb(43, 208, 95);
  font-size: 2em;
  padding-inline: 20px;
}
.container-hero {
  background-color: #fffafa;
  width: 85%;
}
/****************** SECCION OFERTAS ******************/
.hero-card {
  padding-block: 50px;
}
.ofertas-titulo {
  font: 33px var(--ff-title);
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}
.linea {
  position: relative;
  z-index: 1;
}
.linea:before {
  border-top: 2px solid #000000;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.linea span {
  background: #fffafa;
  padding: 0 15px;
}
/*************** bannner ofertas ************************/
.ofertas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-container {
  display: flex;
}
.imagen-ofertas {
  height: 500px;
  width: 353px;
  display: flex;
}
.img-ofertas-1 {
  background-image: url("../imagenes/ofertas1.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.ofertas-titulo-1 {
  background-color: #ececec;
  padding: 5px 0 5px 10px;
  height: fit-content;
  font-size: 3em;
}
.img-ofertas-2 {
  background-image: url("../imagenes/ofertas2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.ofertas-titulo-2 {
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px 5px 0;
  height: fit-content;
  font-size: 3em;
}
.ofertas-div-centro {
  height: 120px;
  font-weight: bolder;
  padding-inline: 3px;
}
.of-p-1 {
  color: var(--white);
}
.of-tit-25 {
  font-size: 3em;
  font-weight: bolder;
  margin-bottom: 0;
}
.ofertas-p {
  font-size: 1.5em;
}
.shop {
  background-color: var(--black);
  color: var(--white);
}
.now {
  background-color: #ececec;
}

/****************** SECCION TIENDA ******************/
.tienda-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.foto-category {
  width: 20%;
  height: 500px;
}
.cat-texto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.cat-texto:hover {
  opacity: 1;
}
.foto-category:hover {
  filter: grayscale(1);
}
.foto-category p {
  color: #fffafa;
  background-color: #1c1c1c;
  opacity: 1;
  display: inline;
}
.cat-mujeres {
  background-image: url("../imagenes/category-mujer.jfif");
  background-size: cover;
  background-position: center;
}
.cat-hombres {
  background-image: url("../imagenes/category-hombres.png");
  background-size: cover;
  background-position: center;
}
.cat-ninios {
  background-image: url("../imagenes/category-niños.jfif");
  background-size: cover;
  background-position: center;
}
.cat-fragancias {
  background-image: url("../imagenes/category-fragancias.jfif");
  background-size: cover;
  background-position: center;
}
/***************** NOSOTRAS ************************/
.nosotras-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px;
}
.img-nosotras {
  background-image: url("../imagenes/nosotras.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.nos-texto {
  padding-inline: 80px;
  padding-block: 50px;
}
/****************** FOOTER ***********************/
footer {
  background-color: var(--black);
  height: 250px;
  display: flex;
  flex-direction: row;
}
.footer-lado-vacio {
  width: 50%;
}
.footer-info-container {
  width: 50%;
  padding: 20px;
  color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.info-icons {
  display: flex;
  flex-direction: column;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 2em;
  font-size: 1.2em;
}

.faq {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
/*****************************************************/
/*************************************************/
/****************** catálogo **********************/

.menu {
  display: flex;
  gap: 1em;
  list-style: none;
}
.boton-menu {
  background-color: var(--black);
  color: var(--white);
  padding-inline: 10px;
}
.boton-menu.active {
  background-color: var(--white);
  color: var(--black);
}

/********************** MEDIA QUERIES ****************************/
@media screen and (max-width: 600px) {
  /************* banner **************************/
  .navbar {
    background-color: var(--white);
  }
  .navbar-brand {
    font-family: var(--ff-title);
  }
  header {
    justify-content: center;
  }
  .banner-texto {
    width: 90%;
    height: 100%;
    padding: 30px 20px 5px 20px;
  }
  .banner-texto h2 {
    text-transform: uppercase;
    font-family: var(--ff-title);
  }
  .banner-texto p {
    font-weight: bold;
  }
  /*********************** main *******************************/
  /*********************** HERO *******************************/
  .hero {
    height: auto;
    display: flex;
  }
  .redes {
    display: none;
  }

  .container-hero {
    background-color: #fffafa;
    width: 100%;
  }
  .hero-card {
    padding-block: 20px;
  }
  /********* ofertas ****************/
  .ofertas-titulo {
    font-size: 1.2em;
    padding-block: 5px;
    margin-top: 0;
  }
  /*************** bannner ofertas ************************/
  .linea:before {
    border: none;
  }
  .imagen-ofertas {
    height: 250px;
    width: 150px;
    display: flex;
  }
  .img-ofertas-1 {
    background-image: url("../imagenes/ofertas1.png");
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .ofertas-titulo-1 {
    background-color: var(--white);
    padding: 5px 0 5px 10px;
    height: fit-content;
  }
  .img-ofertas-2 {
    background-image: url("../imagenes/ofertas2.png");
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .ofertas-titulo-2 {
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px 5px 0;
    height: fit-content;
  }
  .ofertas-div-centro {
    height: 120px;
    font-weight: bolder;
    padding-inline: 3px;
  }
  .of-p-1 {
    color: var(--white);
  }
  .of-tit-25 {
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 0;
  }
  .ofertas-p {
    font-size: 1.5em;
  }
  /****************** SECCION TIENDA ******************/
  .foto-category {
    width: 27%;
    height: 200px;
  }
  .cat-texto {
    opacity: 1;
  }
  .foto-category p {
    font-size: 0.8em;
  }
  .cat-fragancias {
    display: none;
  }
  /***************** NOSOTRAS ************************/
  .nosotras-container {
    padding-block: 20px;
  }
  .img-nosotras {
    height: 200px;
    width: 200px;
  }
  .nos-texto {
    padding-inline: 20px;
    padding-block: 50px;
  }
}
